@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
. {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1523905330026-b8bd1f5f320e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fGRpbm5lcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.banner-heading {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5.5vh;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  order: 1;
}

.banner-subheading {
  font-size: 2.5vh;
  font-weight: bolder;
  color: white;
  margin-top: 2.5%;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  order: 2;
}

form {
  max-width: 75vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  border: 1px solid #213035;
  border-radius: 2em;
  background: #2a9d8f;
  margin: 20px 100px;
  padding: 25px;
  text-align: center;
  margin-top: 27vh;
  order: 3;
}

.search-input {
  padding: 10px;
}

.form-or {
  color: white;
  text-decoration: underline;
  padding: 0px 10px;
}

.submit {
  font-size: large;
  padding: 10px;
  border-radius: 5%;
  background-color: #fca311;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.result-container {
  border: 1px solid white;
  color: white;
  text-align: center;
}

.ind-recipe {
  border: 2px solid #e76f51;
  margin: 20px;
  padding: 20px;
  background-color: #f8b836;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.recipe-image {
  max-width: 300px;
  max-height: 300px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 25px;
}

/* https://www.youtube.com/watch?v=zPcvAwp71uA */
.link-button {
  width: 150px;
  height: 75px;
  border: none;
  border-radius: 4px;
  background-color: #e76f51;
  box-shadow: inset 0 0 0 0 #2a9d8f;
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
}

.link-button:hover {
  box-shadow: inset 150px 0 0 0 #2a9d8f;
  cursor: pointer;
  color: #000000;
}

.recipe-link {
  color: white;
  text-decoration: none;
}
.recipe-link:hover {
  color: #e76f51;
}

.bcontainer {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

.footer-text {
  border: 1px solid white;
  margin: 25px 0px;
  padding: 5px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-weight: bolder;
  text-transform: uppercase;
}

.ind-diet {
  border: 1px solid white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #2a9d8f;
  color: white;
  margin: 30px 0px;
}

@media only screen and (max-width: 700px) {
  .banner-heading {
    flex-shrink: 4;
  }
  .banner-subheading {
    flex-shrink: 4;
  }

  .ind-recipe {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .recipe-image {
    align-items: center;
    justify-content: center;
  }
}
