body {
  background-color: #213035;
  text-align: center;
}

.banner-container {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  background: url(https://images.unsplash.com/photo-1598511756475-c722aeaf9ad5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  display: flex;
}

.banner-heading {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-subheading {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: 200;
  color: white;
  margin: 0 auto;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}
