body {
  background-color: #213035;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.banner-container {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  background: url(https://images.unsplash.com/photo-1598511756475-c722aeaf9ad5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
}

.banner-heading {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4vh;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-subheading {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vh;
  font-weight: bolder;
  color: white;
  margin: 0 auto;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid #213035;
  border-radius: 2em;
  background: #2a9d8f;
  margin: 20px 100px;
  padding: 30px;
}

.search-input {
  font-size: large;
  padding: 10px;
}

.submit {
  font-size: large;
  padding: 10px;
  border-radius: 1em;
  background-color: #fca311;
  color: white;
  font-weight: bold;
}

.result-container {
  border: 1px solid white;
  color: white;
  text-align: center;
}

.ind-recipe {
  border: 2px solid #e76f51;
  margin: 20px;
  padding: 20px;
  background-color: #f8b836;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.recipe-image {
  max-width: 300px;
  max-height: 300px;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
}

@media only screen and (max-width: 700px) {
  .banner-heading {
    flex-shrink: 4;
  }
  .banner-subheading {
    flex-shrink: 4;
  }

  .ind-recipe {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .recipe-image {
    align-items: center;
    justify-content: center;
  }
}
